.container{
	border: 1px solid #F0E2D0;
	display: inline-block;
	border-radius: 13px;
	padding: 20px 10px;
	width: 250px;
	height: 135px;
	position: absolute;
	top: 20%;
	left: 10%;
	text-align: center;
	background: #F0E2D0;
	box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.31);
	opacity: 0.8;
}

body{
	background: url('/static/img/bg.jpg');
	background-size: cover;
	font-family: 'PT Sans', sans-serif;
	font-size: 17px;
	background-attachment: fixed;
  	background-repeat: no-repeat;
}

.location {
    font-size: 25px;
    margin: 5px 0 20px;
    color: #f05339;
}
.statetime {
    font-size: 25px;
    margin-top: 7px;
}

.right-arrow, .left-arrow{
    position: absolute;
    top: 50%;
    font-size: 60px;
}

.right-arrow span, .left-arrow span{
    cursor: pointer;
}

.right-arrow{
    right: 0;
}

.left-arrow{
    left: 0;
}