<html>
	<head>
		<title>Sunrise Industries</title>						
		<meta property="og:site_name" content="Узнай самое важное" /> 
		<meta property="og:image" content="{{url_for('static',filename='img/bg.jpg')}}" /> 
		<meta property="og:locale" content="ru_RU" /> 
		
		<link rel='stylesheet' type='text/css' href='{{url_for('static',filename='style.css')}}'>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		<script src="http://yandex.st/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
		<script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU&onload=init" type="text/javascript"></script>				
		<script>
			 ymaps.ready(function () {
			 	var time = new Date(); 
				$('.location').html(ymaps.geolocation.city);
				$.post("/coords", { lat:ymaps.geolocation.latitude, lon:ymaps.geolocation.longitude, offset:-time.getTimezoneOffset()}, 
					function(data){
						result = $.parseJSON(data);																		
						$('.statetime').html(result.statetime);
						var verb = (result.sunstate === 'sunset') ? 'сядет' : 'встанет';
						$('.stateverb').html(verb);
						console.log(result.log);
					});				
			});
		</script>

		<!-- Картинки на задник -->		
		<script>
		$(document).on("ready", function() {
			$.get("/imageurls", function(data){
				result = JSON.parse(data);
				var i = parseInt(Math.floor(Math.random()*result.length));

				// make background
				$("body").css({
					"background-image": "url("+result[i]+")",
					"background-size": "cover",
					"background-position": "center center",
					"box-shadow": "inset 0px 0px 200px 0px rgba(0,0,0,0.8)",
					"margin": 0
				});
			});
		});
		</script>
	</head>	
	<body>		
		<section class='container'>
			<div>В городе:&nbsp;<input type="text" class='location'></div>
			<div>Солнце <span class='stateverb'></span> в:<p class='statetime'>{{ statetime }}</p></div>			
		</section>
	</body>
</html>