<html>
	<head>
		<title>Sunrise Industries</title>
		<link rel='stylesheet' type='text/css' href='{{url_for('static',filename='style.css')}}'>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		<script src="http://yandex.st/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
		<script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU&onload=init" type="text/javascript">
		</script>		
		<script>
			 ymaps.ready(function () {
			 	var time = new Date(); 
				$('.location').html(ymaps.geolocation.city);
				$.post("/coords", { lat:ymaps.geolocation.latitude, lon:ymaps.geolocation.longitude, offset:-time.getTimezoneOffset()}, 
					function(data){
						result = $.parseJSON(data);																		
						$('.statetime').html(result.statetime);
						var verb = (result.sunstate === 'sunset') ? 'сядет' : 'встанет';
						$('.stateverb').html(verb);
						console.log(result.log);
					});				
			});			 
		</script>
		
		<!-- Yandex.Metrika counter -->
		<script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter21066964 = new Ya.Metrika({id:21066964, webvisor:true, clickmap:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/21066964" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->
		
	</head>	
	<body>		
		<section class='container'>
			<div>В городе:&nbsp;<p class='location'></p></div>
			<div>Солнце <span class='stateverb'></span> в:<p class='statetime'>{{ statetime }}</p></div>			
		</section>
	</body>
</html>